.navbar {
    .nav-link {
        font-size: 1.2rem;
    }
    .navbar-brand {
        font-size: 1.5rem;
    }
    img {
        height: 40px;
        width: auto;
        margin-right: 10px;
    }
}
